@import "0-reset/reset.scss"

@import "1-base/vars.sass"

@import "3-layout/layout.sass"
body
  margin: 0
  padding: 0
  overflow-x: hidden
  .wrapper
    .header
      overflow: hidden
      position: relative
      background-color: #fff
      width: 100%
      margin: 0 0 200px 0
      height: 500px
      text-align: center
      box-shadow: 0 40px 100px rgba(0,0,0,.2)
      h1
        color: #1795f1
        position: absolute
        margin: 0
        font-size: 5em
        top: 70%
        left: 50%
        transform: translate(-50%,-50%)
        font-family: Permanent Marker
      .img
        position: absolute
        width: 150%
        height: 80%
        top: 0
        left: 50%
        margin-left: -75%
        margin-top: -25%
        opacity: 0.1
      .img-logo
        position: absolute
        width: 25%
        height: 80%
        top: 45%
        left: 50%
