body
  margin: 0
  padding: 0
  .bg-icon
    position: absolute
    
    top: 0
    left: 0
    margin: 0
    padding: 0
    overflow: hidden
    width: 100%
    .icon
      display: none
      z-index: -1
      margin: 0
      padding: 0
      background-image: url("../img/svg/")
      position: absolute
      width: 15px
      background-size: 15px
      height: 15px
  .wrapper
    top: 300px
    position: relative
    width: 50%
    margin: 0 auto 200px auto
    overflow: visible
    h1
      top: -250px
      position: absolute
      opacity: 1
      font-weight: 200
      text-align: center
      color: #1795f1
      margin: 50px
      font-size: 6em
      font-family: Monoton
    .header
      overflow: hidden
      position: relative
      background-color: #fff
      width: 100%
      margin: 0 0 200px 0
      height: 500px
      text-align: center
      box-shadow: 0 40px 100px rgba(0,0,0,.2)
      h1
        color: #1795f1
        position: absolute
        margin: 0
        font-size: 5em
        top: 70%
        left: 50%
        transform: translate(-50%,-50%)
        font-family: Permanent Marker
      .img
        position: absolute
        width: 150%
        height: 80%
        top: 0
        left: 50%
        margin-left: -75%
        margin-top: -25%
        opacity: 0.1
      .img-logo
        position: absolute
        width: 25%
        height: 80%
        top: 45%
        left: 50%
  .tip
    position: fixed
    top: 40%
    transform: translate(0,-50%)
    left: 30px
    ul
      list-style: none
      margin: 0
      padding: 0
      li
        cursor: pointer
        margin: 25px 0 25px 0
        padding: 10px
        transform: translate(-200%,0) rotate(45deg)
        line-height: 10px
        background: #fff
        border: 4px solid #000
        transition: all 0.2s
        a
          display: block
          transform: rotate(-45deg)
          text-decoration: none
          font-family: Roboto
          font-weight: 700
          font-size: 1.2em
          color: #000
        a:visited
          color: #000
        &:hover
          background-color: rgb(96, 96, 96)
          border: 4px solid rgb(96, 96, 96)
          a
            color: #fff
      li.active
        background: #000
        a
          color: #fff
        &:hover
          border: 4px solid #000
