h1.head
  will-change: transform
  text-align: center
  display: inline-block
  padding-top: 50px
  margin: auto
  width: 100%
  opacity: 1
  font-weight: 200
  color: #1795f1
  font-size: 5em
  font-family: Monoton
.wrapper
  top: 100px
  position: relative
  width: 100%
  margin: auto
  overflow: visible
@media(min-width:600px)
  .wrapper
    width: 80%
@media(min-width:900px)
  .wrapper
    width: 70%
    float: none
    margin: auto
@media(min-width:1200px)
  h1.head
    font-size: 6em
  .wrapper
    width: 60%
@media(min-width:1400px)
  .wrapper
    width: 50%
